.header {
  padding: 0 4rem;
}

.header__contnet-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8rem;
}

.header__logo-link {
  position: relative;
  z-index: 10;
  margin-right: auto;
}

.header__logo-link:focus {
  outline: 2px dotted white;
}

.header__logo {
  width: 18rem;
}

@media only screen and (min-width: 800px) {
  .header__logo {
    width: initial;
  }
}

.header-hero-container {
  height: 81.25rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))) url("../assets/moblie/image-hero.jbg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)) url("../assets/moblie/image-hero.jbg");
}

.desktop-menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.desktop-menu__link {
  position: relative;
}

.desktop-menu__link::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.desktop-menu__link:hover::after {
  width: 100%;
  opacity: 1;
}

.desktop-menu__link:not(:last-child) {
  margin-right: 4rem;
}

.desktop-menu__link a {
  color: white;
  font-size: 1.875rem;
  font-family: 'Alata', sans-serif;
  line-height: 3.25rem;
  text-decoration: none;
}

.desktop-menu__link a:focus {
  outline: 2px dotted white;
}

.hamburger-menu-wrapper {
  position: relative;
  z-index: 10;
}

.mobile-menu__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  min-height: 100vh;
  padding-top: 28rem;
  padding-bottom: 10rem;
  background-color: black;
  -webkit-clip-path: circle(0 at 92.75% 11.5%);
          clip-path: circle(0 at 92.75% 11.5%);
  opacity: 0;
  -webkit-transition: 0s opacity 1s, -webkit-clip-path .5s ease-in-out;
  transition: 0s opacity 1s, -webkit-clip-path .5s ease-in-out;
  transition: clip-path .5s ease-in-out, 0s opacity 1s;
  transition: clip-path .5s ease-in-out, 0s opacity 1s, -webkit-clip-path .5s ease-in-out;
}

.mobile-menu__bg--active {
  -webkit-clip-path: circle(140vmax at 92.75% 11.5%);
          clip-path: circle(140vmax at 92.75% 11.5%);
  opacity: 1;
  -webkit-transition: -webkit-clip-path .5s linear;
  transition: -webkit-clip-path .5s linear;
  transition: clip-path .5s linear;
  transition: clip-path .5s linear, -webkit-clip-path .5s linear;
}

.mobile-menu__nav {
  padding-left: 3rem;
}

.mobile-menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
}

.mobile-menu__link {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.mobile-menu__link:hover {
  -webkit-transform: translateX(1.5rem);
          transform: translateX(1.5rem);
}

.mobile-menu__link:hover a {
  color: #979797;
}

.mobile-menu__link:not(:last-child) {
  margin-bottom: 3rem;
}

.mobile-menu__link a {
  color: white;
  font-size: 3rem;
  line-height: 3.25rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.hamburger-menu {
  position: relative;
  z-index: 1;
  width: 3rem;
  cursor: pointer;
}

.hamburger-menu__bar {
  width: 3rem;
  height: .25rem;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.hamburger-menu__bar:not(:last-child) {
  margin-bottom: .625rem;
}

.hamburger-menu--active .hamburger-menu__bar--1 {
  -webkit-transform: translate(-0.25rem, 0.875rem) rotate(45deg);
          transform: translate(-0.25rem, 0.875rem) rotate(45deg);
}

.hamburger-menu--active .hamburger-menu__bar--2 {
  opacity: 0;
}

.hamburger-menu--active .hamburger-menu__bar--3 {
  -webkit-transform: translate(-0.25rem, -0.875rem) rotate(-45deg);
          transform: translate(-0.25rem, -0.875rem) rotate(-45deg);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 50%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.875rem;
  overflow-x: hidden;
}

.content-wrapper {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
/*# sourceMappingURL=App.css.map */